**/node_modules
**/.git
**/.gitignore
**/dist
**/.DS_Store
**/*.log
**/.env
**/.env.*
**/.vscode
**/.idea
problem5/data
problem5/**/*.sqlite
problem5/**/*.sqlite-journal
problem5/**/*.sqlite-wal
problem5/**/*.sqlite-shm
problem5/PLAN.md
problem5/problem.md
problem4
problem6
.github
